.overflowContainer::-webkit-scrollbar {
    height: 0;
    width: 0;
    display: none;
}

.codexAnimation {
    animation: build-codex 0.5s ease-in-out;
}

@keyframes build-codex {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

.controlsAnimation {
    animation: build-controls-hint 2s ease-in-out;
}

@keyframes build-controls-hint {
    0% {
        width: 0;
        opacity: 0;
    }
    25% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.skillsAnimation {
    animation: build-skills-display 0.5s ease-in-out;
}

@keyframes build-skills-display {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

.aspectsNavAnimation {
    animation: build-aspect-navigator 1s ease-in-out;
}

@keyframes build-aspect-navigator {
    0% {
        height: 0;
        opacity: 0;
        color: transparent;
    }
    50% {
        height: 0;
        opacity: 0;
        color: transparent;
    }
    100% {
        height: 100%;
        opacity: 1;
        color: white;
    }
}

