.navTabAnimation {
    animation: build-nav-tab 1s ease-in-out;
}

@keyframes build-nav-tab {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.controllerTab {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition-duration: 150ms;
    cursor: pointer;
    user-select: none;

    &:hover {
        scale: 1.1
    }
}

.navigationTab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.statusAnimation {
    animation: build-status 1s ease-in-out
}

@keyframes build-status {
    0% {
        width: 0;
    }
    100% {
        width: 366px;
    }
}