.talentArrow {
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        border-bottom: 0;
        height: 0;
        width: 0;
        border-top: 6px solid #b19d62;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        bottom: -0.2rem;
    }
}
