.talentArrow {
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        border-bottom: 0;
        height: 0;
        width: 0;
        border-top: 9px solid #E5B80B;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        bottom: -0.2rem;
    }
}