@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *, ::before, ::after {
        box-sizing: border-box;
        border-style: solid;
    }
}

@layer components {
    .navigation__icon {
        @apply border-[3px] sm:border-4 border-soft-white overflow-hidden aspect-square h-[56px] sm:h-[72px]
    }
    .navigation__icon--square {
        @apply navigation__icon rounded-[8px]
    }
    .navigation__icon--circle {
        @apply navigation__icon rounded-full
    }


    .aspect-bg-white {
        @apply bg-white transition-colors duration-200
    }
    .aspect-border-white {
        @apply border-2 border-white transition-colors duration-200
    }
}

:root {
    --neon-text-glow: #3bb5f2;
}

// Fonts only for personal uses. 
@font-face { font-family: andes; src: url(../../fonts/andes.ttf); }
@font-face { font-family: market-deco; src: url(../../fonts/market-deco.ttf); }
@font-face { font-family: century-gothic; src: url(../../fonts/century-gothic.otf); }

// Initalizer for custom default sizing.
html, body, body > header { height: 100%; margin: 0; padding: 0; }
body { 
    overflow: hidden; 
    background-color: black; 
    scroll-behavior: smooth; 
    touch-action: none;
}

@media only screen and (max-width: 768px) {
    [data-mobiletext] > span {
        display: none;
    }
    
    [data-mobiletext]::before {
        content: attr(data-mobiletext);
    }
}
