.navIconsContainer {
    animation: slide-up 2s ease; 
}

@keyframes slide-up {
    0% { 
        opacity: 0.3;
        bottom: -20%
    };
    50% {
        opacity: 0.3;
        bottom: 20%;
    }
    100% {
        opacity: 1;
        bottom: 20%;
    }
}
