$rapture-sea-green: #1a827c;
$rapture-fluorescent: #97fffa;

.raptureMain {
    background: $rapture-sea-green;
    transform: perspective(200px) rotateX(10deg);
    display: flex;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        background: inherit;
        border-radius: 0.5rem;
        width: 80%;
        height: 15%;
        top: -10%;
    }

    &::after {
        content: "";
        position: absolute;
        background: inherit;
        border-radius: 0.5rem;
        width: 60%;
        height: 10%;
        top: -15%;
    }
}

@keyframes buildRaptureMain {
    0% { bottom: -150%; }
    100% { bottom: 0; }
}

.raptureBeacon {
	animation: pulse 12s infinite ease-in-out;
    box-shadow: 
        0 0 10px 0px white,
        0 0 15px 2px white,
        0 0 30px 4px $rapture-fluorescent,
        0 0 45px 15px $rapture-fluorescent,
        0 0 100px 25px $rapture-fluorescent;
    filter: blur(2px);

    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 100%);
        border-radius: 100%;
        width: 3000%;
        height: 10%;
        animation: spread-pulse 12s infinite ease-in-out
    }
}

@keyframes pulse {
    0% {
        box-shadow: 
            0 0 10px 0px white,
            0 0 15px 2px white,
            0 0 30px 4px $rapture-fluorescent,
            0 0 45px 15px $rapture-fluorescent,
            0 0 100px 25px $rapture-fluorescent;
    }
    50% {
        box-shadow: 
            0 0 0px 0px white,
            0 0 5px 2px white,
            0 0 10px 1px $rapture-fluorescent,
            0 0 15px 5px $rapture-fluorescent,
            0 0 40px 15px $rapture-fluorescent;
    }
    100% {
        box-shadow: 
            0 0 10px 0px white,
            0 0 15px 2px white,
            0 0 30px 4px $rapture-fluorescent,
            0 0 45px 15px $rapture-fluorescent,
            0 0 100px 25px $rapture-fluorescent;
    }
}

@keyframes spread-pulse {
    0% {
        width: 3000%;
    }
    50% {
        width: 1500%;
    }
    100% {
        width: 3000%;
    }
}

.tower {
    animation-name: rise-up;
    animation-timing-function: ease;
}

@keyframes rise-up {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}