.container {
    text-shadow: 0 -40px 100px #fff, 0 0 5rem #fff, 0 0 0.2rem #fff,
        0 0 0.1rem #fff, 0 0 1.3rem var(--neon-text-glow),
        0 0 0.7rem var(--neon-text-glow), 0 0 0.3rem var(--neon-text-glow);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.reflection {
    transform: rotateZ(180deg) rotateY(180deg) perspective(15vh) rotateX(-65deg);
    filter: blur(4px);
    opacity: 0.9;
}

@keyframes blink {
    78%,
    81%,
    83%,
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }

    80% {
        text-shadow: none;
    }
    82%,
    92% {
        color: #333;
        text-shadow: none;
    }
}
