$ripple-radius: 15px;

.ripple {
    animation-iteration-count: infinite;
    filter: blur(2px);
    transform: perspective(15vh) rotateX(285deg);
}

.raindrop {
    animation-iteration-count: infinite;
    animation-name: rain-fall;
    animation-timing-function: linear;
}

@keyframes rain-fall {
    100% {
        transform: translateY(85vh);
    }
}

@keyframes ripple1 {
    from {
        opacity: 1;
        margin-left: -($ripple-radius);
        margin-top: -($ripple-radius);
    }
    to {
        width: ($ripple-radius * 4);
        height: ($ripple-radius * 4);
        margin-left: -($ripple-radius * 2);
        margin-top: -($ripple-radius * 2);
        border-width: 1px;
        opacity: 0;
    }
}

@keyframes ripple2 {
    from {
        opacity: 1;
        margin-left: -($ripple-radius);
        margin-top: -($ripple-radius);
    }
    to {
        width: ($ripple-radius * 6);
        height: ($ripple-radius * 6);
        margin-left: -($ripple-radius * 3);
        margin-top: -($ripple-radius * 3);
        border-width: 1px;
        opacity: 0;
    }
}

@keyframes ripple3 {
    from {
        opacity: 1;
        margin-left: -($ripple-radius);
        margin-top: -($ripple-radius);
    }
    to {
        width: ($ripple-radius * 8);
        height: ($ripple-radius * 8);
        margin-left: -($ripple-radius * 4);
        margin-top: -($ripple-radius * 4);
        border-width: 1px;
        opacity: 0;
    }
}
