.portfolioContainer {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #136087 100%);
    animation: load-homepage 0.5s ease;
}
.portfolioContainer::-webkit-scrollbar { 
    height: 0;
    width: 0;
    display: none; 
}

@keyframes load-homepage {
    from { opacity: 0; }
    to { opacity: 1; }
}